<form action="/session/new" method="post">
  <label>Username:<input name="username" type="text"></label>
  <label>Password:<input name="password" type="password"></label>
  <button type="submit">Submit</button>
</form>