<h1> MakersBnB </h1>

<form action=/list_space>
    <input type="submit" value="List Your Space" />
</form>

<table>
  <caption>Listings</caption>
  <tr>
    <th>Name</th>
  </tr>
  <tr>
    <td>London flat</td>
  </tr>
</table>
