<h1>Add Your Listing Here!</h1>

<form class="form-container" action="/listings/new" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name">
  </div>

  <div>
    <label for="price">Price Per Night:</label>
    <input type="number" name="price_per_night">
  </div>

  <div>
    <label for="start_date">Start-Date:</label>
    <input type="date" name="start_date">
  </div>

  <div>
    <label for="end_date">End-Date:</label>
    <input type="date" name="end_date">
  </div>

  <div>
    <label for="description">Description:</label>
    <textarea name="description"></textarea>
  </div>

  <button class="form-submit" type="submit">Submit your listing</button>
</form>